/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,300;0,500;0,600;0,700;1,400&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Epilogue", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.875rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
/* @media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} */
/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-gold);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1.5rem;
  border: 2px solid var(--clr-gold);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
  border: 2px solid var(--clr-black);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.underline {
  width: 7rem;
  height: 0.5rem;
  margin-bottom: 1.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}

.placeholder {
  height: 750px;
  width: 90vw;
  background-color: var(--clr-grey-9);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
.nav {
  height: 8rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  background-color: var(--clr-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.nav h2 {
  margin-bottom: 0;
}

.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.nav-btn {
  justify-self: end;  
  background-color: transparent;
  border: none;
  padding: 0 2.5rem;
  cursor: pointer;
  font-size: 3rem;
  color: var(--clr-gold);
}

.nav-links {
  display: none;
}

/*
=============== 
Sidebar nav
===============
*/
.sidebar {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: var(--clr-grey-10);
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.close-btn {
  color: var(--clr-red-dark);
  background-color: transparent;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  padding: 1rem;
}

.close-btn:hover {
  color: var(--clr-red-light);
  background-color: transparent;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  padding: 1rem;
}

.sidebar-links, .social-icons {
  text-align: center;
}

.sidebar-links a, .social-icons a {
  color: var(--clr-black);
  transition: var(--transition);
}

.sidebar-links a:hover, .social-icons a:hover {
  color: var(--clr-gold);
}

.sidebar-links li {
  margin: 2rem auto;
}

.sidebar-links a {  
  font-size: 3rem; 
  margin-bottom: 2rem;
  padding: .5rem 10rem; 
}

/* Social Media Icons */
.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
}

.social-icon {
  font-size: 2.5rem;
  padding: 1.5rem;
}

/*
=============== 
Header / Hero
===============
*/
.hero {
  background-color: #fffaeb;
}

.hero-center {
  height: 100vh;
  display: grid;
  place-items: center;  
  padding-top: 8rem;
}

.hero-info .underline {
  margin-left: 0;
}

.hero-info h4 {
  color: var(--clr-grey-5); 
}

.hero-btn {
  margin-top: 1.25rem;
}

.hero-icons {
  justify-items: start;
  width: 30rem;
}

.hero-social-icon {
  font-size: 2rem;
  color: var(--clr-black);
  transition: var(--transition);
}

.hero-social-icon:hover {
  font-size: 2rem;
  color: var(--clr-gold);
}

.hero-img {
  display: none;
}

/* .hero-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  } */

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  border-radius: var(--radius);
  position: relative;
  object-fit: cover;
}

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  .hero-center {
    height: 100vh;
    display: grid;
    place-items: center; 
    grid-template-columns: 1fr 1fr; 
    padding-top: 8rem;
  }

  .hero-img {
    display: block;
  }
} */

/*
=============== 
About
===============
*/
.about {
  background-color: var(--clr-white);
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-img {
  justify-self: center;
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 0;
}

.about-title p {
  text-align: justify;
}

/*
=============== 
Courses
===============
*/
.section-courses {
  display: grid;
  gap: 2rem;
}

.card {
  height: 37rem;
}

/* .card:hover {

} */

.card img {
  height: 23rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-info {
  padding: 1rem 1.5rem;
  background-color: var(--clr-white);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/*
=============== 
F.A.Q.
===============
*/
.faq {
  background-color: var(--clr-white);
}

.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/*
=============== 
Contact
===============
*/
.contact {
  display: grid;
  place-items: center;
  background: 
  /* top, transparent white */ 
  linear-gradient(
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.5) 
  ),
  /* bottom, image */
  url(IMG/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-center {
  width: 80%;
  padding: 3rem;
  background-color: #fffaeb;
  border-radius: var(--radius);
}

.contact-center p:last-of-type {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1.5rem;
}

.contact-form label {
  font-size: 1.5rem;
}

.contact-form input, textarea {
  width: 100%;  
  border-radius: var(--radius);
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  padding: 1rem;
}

.contact-form input:focus, textarea:focus {
  width: 100%;
  outline: none;
  border: 1px solid var(--clr-gold);
  border-radius: var(--radius);
}

.contact-form span {
  color: var(--clr-red-dark);
}

.submit-btn {
  font-size: 1.5rem;
}

/*
=============== 
Footer
===============
*/
.footer {
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  background-color: var(--clr-black);
}

.footer-icons {
  width: 30rem;
  justify-items: center;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
}

.footer-social-icon {
  font-size: 2rem;
  color: var(--clr-gold);
  transition: var(--transition);
}

.footer-social-icon:hover {
  font-size: 2rem;
  color: var(--clr-white);
  transition: var(--transition);
}


/*
=============== 
Media Queries
===============
*/
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { } */